.contain {
	display: grid;
	grid-template-columns: 48px 26px 26px 162px 38px 600px 156px 68px 40px 26px 40px 65px;
	align-items: center;
}

.top {
	height: 80px;
	background-color: #38C4CA;
}
/*.header {
	height: 80px;
	background-color: #38C4CA;
}*/

.logo {
	grid-column-start: 4;
	grid-column-end: 5;
}

.logo:hover {
	cursor: pointer;
}

.logo p {
	font-size: 32pt;
	color: #FFFFFF;
}

.login {
	font-size: 15pt;
	color: #9B9B9B;
}

.fontsatu {
	font-family: "Open Sans";
}

.fontdua {
	font-family: "Helvetica";
}

.search-box {
	grid-column-start: 6;
	grid-column-end: 7;
}

.login {
	grid-column-start: 8;
	grid-column-end: 9;	
}

.hamburger {
	grid-column-start: 2;
	grid-column-end: 3;
}

.ham {
  width: 26px;
  height: 2px;
  background-color: white;
  margin: 6px 0;
}

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 50px;  /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: 'liga';
}

.preference {
	margin-top: 18px;
}

.preference p {
	font-size: 20pt;
	color: #B2B0B0;
}

.body-content {
	width: 90%;
	margin: auto;
}

.inner-body {
	width: 60%;
	margin: 24px auto;
}

.heads p {
	font-size: 36pt;
	font-weight: bold;
	color: #313131;
}

.contents {
	margin-top: 34px;
}

.contents p {
	font-size: 24pt;
	color: #545454;
}

.tombols {
	display: flex;
	flex-wrap: wrap;
	margin-top: 14px;
}

.tombol {
	display: flex;
	justify-content: center;
	align-items: center;
	margin-top: 14px;
	margin-right: 18px;
	height: 50px;
	width: 100px;
	border: 2px solid grey;
	border-radius: 25px;
}

.tombolBiru {
	display: flex;
	justify-content: center;
	align-items: center;
	margin-top: 14px;
	margin-right: 18px;
	height: 50px;
	width: 100px;
	border: 2px solid grey;
	border-radius: 25px;
	background-color: #38C4CA;
}

.tombol:hover {
	cursor: pointer;
}

.panjang {
	width: 150px;
}

.panjangbgt {
	width: 180px;
}

.doneButton {
	margin-top: 30px;
	width: 330px;
	height: 64px;
	background-color: #5F9BE1;
	color: #FFFFFF;
	font-weight: bold;
	font-size: 24pt;
	border-radius: 15px;
}

.gbr {
	max-width: 100%;
	height: auto;
}

.scholars {
	margin-top: 5%;
	display: grid;
	grid-template-columns: 25% 25% 25%;
	border: 2px solid grey;
}

.image-scholars {
	grid-column-start: 1;
	grid-column-end: 2;
}

.tulisan-scholars {
	margin-left: 10%;
	display: grid;
	grid-auto-rows: 25% 25% 25%;
	font-family: "Helvetica";
}

.nama-scholars {
	font-weight: bold;
	font-size: 30pt;
	grid-row-start: 1;
	grid-row-end: 2;
}

.description-scholars {
	margin-top: 5%;
	font-size: 20pt;
	width: 400px;
	grid-row-start: 2;
	grid-row-end: 3;
}

